<h4>Cadastro de Veículos</h4>

<form (ngSubmit)="salvar()" #f="ngForm">
  <div>
    <label for="sMarca">Marca</label>

    <select class="custom-select">
      <option selected>Selecione a Marca</option>
      <option *ngFor="let item of marcas" name="sMarca">{{item}}</option>
    </select>

  </div>
  <div>
    
    <label for="modelo">Modelo</label>
    <input [(ngModel)]="veiculo.modelo" name="modelo" class="form-control" required>

  </div>


  <div>

    <label for="valor">Valor</label>
    <input type="number" min="0.00" max="20000.00" step="100.01" [(ngModel)]="veiculo.valor" name="valor" class="form-control" style="text-align:right;" required>
    
  </div>




</form>